@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --customRed: #E63946;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --customRed: #FF4A4A;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
    .border-customRed {
      border-color: var(--customRed);
    }
    .bg-customRed {
      background-color: var(--customRed);
    }
    .text-customRed {
      color: var(--customRed);
    }
  
  
}
